body {
    background-color: #EEE;
}

#container {
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: #66CCFF;
    color: white;
    padding: 10px;
    text-align: right;
}

.sign {
    display: inline-block;
    width: 100px;
}

#content {
    padding: 10px;
}

#nav {
    width: 180px;
    float: left;
}

#main {
    width: 600px;
    float: right;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #999;
    color: white;
    text-align: right;
}