/*
margin: 10px auto 0 auto;

body {
    background-color: #EEE;
}
*/
body {
    background-image: url("Assets/pokemon/legendary.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#header {
    background-color: #66CCFF;
    color: white;
    top: 2px;
    right: 5px;
    position: fixed;
}

#header ul {
    list-style-type: none;
    text-align: left;
}

#header ul li {
    display: inline-block;
}

#container {
    background-color: gray;
    margin: 0 auto 0 auto;
    width: 70%;
    text-align: center;
}

#welcome {
    background-color: brown;
    width: 90%;
    margin: inherit;

}

#game_page {
    background-color: teal;
    font-style: italic;
    font-size: 58px;
    width: 90%;
    margin: inherit;
    padding: 20px;
}

#intro_video {
    background-color: pink;
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    margin: auto auto auto auto;
    width: 80%;
    height: 90%;
    text-align: center;
}

#text {
    background-color: lightblue;
    width: inherit;
    margin: inherit;
}

#pokemons {


}


#blog {
    background-color: green;
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    width: 80%;
    margin: inherit;
}

#blog ol {
    text-align: left;
}

#footer {
    background-color: red;
    padding: 10px;
    text-align: center;
    margin-top: inherit;
}
